*{
    padding: 0;
    margin: 0;
}
#loginform{
    border: 3px solid #f1f1f1;
}
.inputlog{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    max-width: 400px;
}

#btnlogin{
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    max-width: 400px;
}

.formularito {
    width: 100%;
    padding: 6px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    height: 30px;
    float: left;
}

.divisito {
    width: 500px;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    font-weight: bold;
    margin: 0 auto;
}
alar-login-form {
    padding:30px;
    display:block;
    border:1px solid #ccc;
    font-family: "Sintony",sans-serif;
    font-size:12px;
}