{% extends 'layout.html.twig' %}

{% block seccion2 %}
    <h1>Menu Rol</h1>
{% endblock %}
{% block seccion3 %}
    <div class="divisito">
        <h2>Formulario Menu</h2><hr><br>    
    {{ form_start(form) }}
        {{ form_widget(form) }}
    {{ form_end(form) }}
    </div>
{% endblock %}